[build]
  publish = "public"

  command = "npm run build && composer install --no-dev && php artisan optimize"

[build.environment]
  PHP_VERSION = "8.2"

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
