.button{
        font-size: 16px;
        font-weight: 400;
        font-family: "Avenir Next", sans-serif;
        display: inline-block;

        box-sizing: border-box;
        height: 30px;
        padding: 5px 12px;
        min-width: 88px;
        line-height: 32px;
        gap: 4px;

        border-radius: 20px;

        cursor: pointer;
        text-align: center;

        white-space: nowrap;
        text-decoration: none;
        letter-spacing: 0.5px;
        border: none;

        color: @White;
        background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        transition: @duration;
            &:hover{
                background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
            }

        &--primary{
            padding: 16px 22px;
            line-height: 16px;
            height: 48px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 88px;
            border: 1px solid #FFEB80;
            color: @Purple;
            background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
            transition: all @duration;


            &:hover{
                color: @Yellow;
                background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);

            }
        }

        &--yellow
        {
            padding: 15px 24px;
            height: 48px;
            font-size: 20px;
            font-weight: 600;
            line-height: 16px;

            border-radius: 30px;
            background: @Yellow ;
            color: @Purple;
            border: 1px solid #FFEB80;


            &:hover{
                color: @Yellow;
                background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
            }
        }
        &--purple{
            background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
            font-family: "Montserrat", sans-serif;
            line-height: 20px;
            // box-shadow: 0px 0px 80px 0px #023F76;

        }
        &--purple-light {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;
            text-align: left;
            color: @Yellow;
            background: #6D31D080;



        }


        &[disabled='']
        {
            pointer-events: none;
            opacity: .5;
        }
        &__header
        {
        .xs({
        margin-top: 16px;
        });
        }


        &--expand {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 26px;
        box-sizing: border-box;

        gap: 5px;
        color: @Purple;
        background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);

        // Ensure that the color and background don't change on hover
        &:hover {
            color: @Purple;
            background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
        }

        i {
            font-size: 13px;
            transition: transform 0.3s ease;
        }

        &:hover i {
            transform: translateX(5px); /* Slight animation on hover */
        }
        }

    }
