.button {
    font-size: 16px;
    font-weight: 400;
    font-family: "Avenir Next", sans-serif;
    display: inline-block;

    box-sizing: border-box;
    height: 30px;
    padding: 5px 12px;
    min-width: 88px;
    line-height: 32px;
    gap: 4px;

    border-radius: 20px;
    cursor: pointer;
    text-align: center;

    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 0.5px;
    border: none;

    color: @White;
    position: relative;
    overflow: hidden;
    background: none;

    // base gradient background via pseudo-element
    &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
    transition: background 0.5s ease;
    z-index: -1;
    }

    &:hover::before {
    background-color: linear-gradient(90.49deg, #6D31D0 0%, #53269D 100.2%);
      opacity: 0.7;
    }

    &--primary {
        padding: 12px 18px;
        line-height: 16px;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 88px;
        border: 1px solid #FFEB80;
        color: @Purple;
        // background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 88px;
        // background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
        transition: background 0.3s ease, opacity 0.3s ease;
        z-index: -1;
        opacity: 1;
        mix-blend-mode: normal;
      }



      &:hover {
        // background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
        color: @Yellow;
        }
        &:hover::before {
        opacity: 1;
        }

    }

    &--yellow {
        position: relative;
        padding: 15px 24px;
        height: 48px;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        border-radius: 30px;
        background: @Yellow;
        color: @Purple;
        border: 1px solid #FFEB80;
        transition: color 0.5s ease;
        z-index: 0;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 30px;
          background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
          opacity: 0;
          transition: opacity 0.5s ease;
          z-index: -1;
        }

        &:hover {
            background: #6D31D0;
            color: @Yellow;
        }
        &:hover::before {
          opacity: 1;
        }
      }


    &--purple {
      background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
      font-family: "Montserrat", sans-serif;
      line-height: 20px;
    }

    &--purple-light {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.5px;
      text-align: left;
      color: @Yellow;
      background: #6D31D080;
    }

    &[disabled=''] {
      pointer-events: none;
      opacity: 0.5;
    }

    &__header {
      .xs({
        margin-top: 16px;
      });
    }

    &--expand {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 26px;
      box-sizing: border-box;
      gap: 5px;
      color: @Purple;
      background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
      transition: all 0.5s ease;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 30px;
        background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
        transition: opacity 0.5s ease;
        opacity: 1;
        z-index: -1;
      }

      &:hover {
        color: @Purple;
        background: none;
      }
      &:hover::before {
        opacity: 1;
      }

      i {
        font-size: 13px;
        transition: transform 0.3s ease;
      }

      &:hover i {
        transform: translateX(5px);
      }
    }

    &--full
    {
        width: 100%;
    }
  }
