.card{
    padding: 15px;

    border-radius:  12px;
    background-color: @White;

    &--grey
    {
        box-shadow: 0px 14px 10px 0px #00000040;
        background-color:rgba(255, 255, 255, 1);
    }
    &__image {
    padding: 0;
    border-radius:  20px;
    }
    &__form{
        padding: 35px;
        background: rgba(255, 219, 128, 0.5);
    }
}
