.card{
    gap: 20px;
    border-radius: 20px;

    display: block;
    overflow: hidden;

    box-sizing: border-box;
    background-color: @White;

    &__text
    {
        padding: 20px;
    }
    &--small,
    &--middle,
    &--large {
    border-radius: 19px 19px 19px 0;
    }
    &--large {

    }
    &--large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

}
