.section {
    padding-top: 80px;
    padding-bottom: 80px;
    min-width: 320px;
    box-sizing: border-box;

    &__yellow {
        background-image: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
    }

    &__purple {
        background-image: linear-gradient(180deg, #828CDE 0%, #6D31D0 100%);
    }

    &__purple-header {
        background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
    }

    &__swiper {

        .xs({
            padding-top: 40px;
        });
}

&__header {
    padding-top: 20px;
    padding-bottom: 20px;
}

&__footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

&__modified {
    .sm({
        padding: 0;
    });
}
}
