.swiper {

    &__button {
        position: absolute;
        top: 135px;
        right: 40px;
    }

    &__vertical{
    .swiper-pagination-bullet
    {
        width: 10px;
        height: 10px;
        opacity: 1;
        border: 2px solid @White;
        background-color: transparent;
    }

    .swiper-pagination-bullet-active
    {
        background-color: @White;

    }
    .swiper-vertical>.swiper-pagination-bullets,
    .swiper-pagination-vertical.swiper-pagination-bullets
    {
    right: var(--swiper-pagination-right, 16%);
    }
    }

}
