.wrapper
{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
    min-width: 320px;

    &__small
    {
        max-width: 780px;
    }
}
