@import './responsiveness.less';
@import (css) 'flexboxgrid/dist/flexboxgrid.css';
@import (css) 'normalize.css/normalize.css';

@import "helpers";
@import "typography";
@import "colors";

@BaseFontSize: 16px;
@widthHD: 1440px;
@duration: .5s;

// *{
//     outline: 1px solid red;
// }

body,
html
{
    padding: 0;
    margin: 0;
    background-color: @White;
    min-width: 320px;
    overflow-x: hidden;

}

body
{
    font-family: "Avenir Next", sans-serif;
    font-weight: 400;
    color: @DarkBlue;
    font-size: BaseFontSize;
}

.image
{
    background-position: center;
    background-color: @DarkBlue;
    background-repeat: no-repeat;
    aspect-ratio: (580 / 490);
}
.background
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: (410 / 500);
    // position: relative;
}
.circle
{
    width: 150px;
    height: 150px;
}
.logo{
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;

    width: 180px;
    height: 66px;

    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

}
@import "blocks/section";
@import "blocks/wrapper";
@import "blocks/card";
@import "blocks/button";
@import "blocks/swiper";
@import "blocks/image";



.hero{
    aspect-ratio: (1440 / 740);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

