@import './responsiveness.less';
@import (css) 'flexboxgrid/dist/flexboxgrid.css';
@import (css) 'normalize.css/normalize.css';

@import "helpers";
@import "typography";
@import "colors";

@BaseFontSize: 16px;
@widthHD: 1440px;


body,
html
{
    padding: 0;
    margin: 0;
    background-color: @White;
    min-width: 320px;

}

body
{
    font-family: "Avenir Next", sans-serif;
    font-weight: 400;
    color: @DarkBlue;
    font-size: BaseFontSize;
}

.images
{
    background-position: center;
    background-color: @DarkBlue;
    background-repeat: no-repeat;
    aspect-ratio: (580 / 490);

}


@import "blocks/section";
@import "blocks/wrapper";
@import "blocks/card";



